<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="">الاسم</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="form-group col-6">
                                <label for="">الايميل</label>
                                <input type="text" class="form-control" formControlName="email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="">الباسورد</label>
                                <input type="text" class="form-control" formControlName="password">
                            </div>
                            <div class="form-group col-4">
                                <label for="">تاكيد الباسورد</label>
                                <input type="text" class="form-control" formControlName="confirm_password">
                            </div>
                            <div class="form-group col-4">
                                <label for=""> الدور</label>
                                <input type="text" class="form-control" formControlName="role">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">الصلاحيات </label>
                                    <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" [ngModelOptions]="{standalone: true}" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">صورة الادمن   </label>
                            <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif,image/svg+xml" [multiple]="false">
                                <ngx-dropzone-label>أضغط هنا لإختيار صورة الادمن </ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>

                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="button" (click)="submit()">إضافة </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>