<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="">الاسم باللغة العربيه</label>
                                <input type="text" class="form-control" formControlName="title_ar">

                            </div>
                            <div class="form-group col-6">
                                <label for="">الاسم باللغة الانجليزية</label>
                                <input type="text" class="form-control" formControlName="title_en">

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for=""> الوصف باللغة العربيه</label>
                                <input type="text" class="form-control" formControlName="description_ar">

                            </div>
                            <div class="form-group col-6">
                                <label for="">الوصف باللغة الانجليزية </label>
                                <input type="text" class="form-control" formControlName="description_en">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">صورة الخدمه   </label>
                            <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif,image/svg+xml" [multiple]="false">
                                <ngx-dropzone-label>أضغط هنا لإختيار صورة الخدمه </ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="submit">إضافة خدمه </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>