.counter {
    color: black;
    border-radius: 50%;
    border: 1px solid #ddddff;
    padding: 0em 0.4em;
    margin-left: 2em;
    background: #ddddff;
}

li {
    display: flex;
    align-content: center;
    align-items: center;
}

.sidebarto {
    display: none !important;
}

.mj {
    margin-left: 0 !important;
}

.hide {
    transition: all 1s linear;
    display: none !important;
}

.log-img {
    width: 3em;
    border-radius: 23px;
    position: relative;
    top: -5px;
}