<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">اسم الميناء باللغه العربيه</th>
                                <th scope="col">اسم الميناء باللغه الانجليزية</th>

                                <th scope="col">إعدادات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let country of countries;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>
                                    {{country.name_ar}}
                                </td>
                                <td>
                                    {{country.name_en}}
                                </td>
                                <td>
                                    <i style="cursor: pointer;" class="fas fa-trash text-danger" (click)="deleteApp(country.id)"></i> |
                                    <i style="cursor: pointer;" class="fas fa-edit text-primary" (click)="editCity(country)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>